*{
    margin:0;
    padding:0;
    background-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    padding: 1 0;
    text-align: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}

button{
    margin-right: -5px;
    width: 10%;
    height: 44px;
    border:0;
    background-color: white;
    transition: all 0.1s; 
    cursor:pointer;
    margin-bottom: 5px;
}

.Log{
    display: inline-block;
    position: absolute;
    right: 20px;
    width: 5%;
}

.Reg{
    display: inline-block;
    position: absolute;
    right: 115px;
    width: 5%;
} 

button:hover{
    border-bottom:1px solid black;
}

button:active{
    background-color: #000000;
    color: white;
}

.logo{
    cursor: pointer;
}
/*comment in css to check git*/
/*another comment*/
i{
    margin-right:10px;
}
.HeaderPic{
    width: 100%;
    height: 100%;
    background-image: url('images/HomePageMainPic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.9;
    font-size: 3.2em;
    color: white;
    font-weight: bold;
    padding-bottom: 200px;
    margin-bottom: 200px;
}


.About{
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}

.InformationBox{
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    height: 400px;
}

.block{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    font-size: 0.6em;
}

.AboutUsText{
    margin-right:25px;
}

.Ourviews{
    margin-left:25px;
}

.AboutUsTextInBlock{
    width: 95%;
    position: relative;
    top: 10px;
    left:5%;
    text-align: justify;
    font-weight: lighter;
    text-align-last:center;
    line-height: 1.5;
}

.OurviewsTextInBlock{
    width: 95%;
    position: relative;
    top: 10px;
    left:5%;
    text-align: justify;
    font-weight: lighter;
    text-align-last:center;
    line-height: 1.5;
}

.usericon{
    position: absolute;
    right:130px;
    top:10px;
    font-size: 1.2em;
    color: #000;
    cursor: pointer;
}

.logoff{
    position: absolute;
    right:10px;
    width: 100px;
    top:-0px;
}

.aboutUsTitle{
    position: absolute;
    margin-bottom: 570px;
    margin-left: -32%;
}

.OurViewsTitle{
    position: absolute;
    margin-bottom: 570px;
    margin-left: 32%;
}

.Footer{
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: auto;
}

.FooterText{
    color: white;
    background-color: #282828;
    font-size: 0.7em;
}

.contactUs {
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    height: 400px;
}

.ContactUsTitle{
    margin-bottom:50px;
    font-size: 1em;
}

.FirstNameField{
    margin-bottom: 20px;
    font-size: 0.7em;
}

.EmailAddressField{
    margin-bottom: 20px;
    font-size: 0.7em;
}

.MessageField{
    margin-bottom: 40px;
    font-size: 0.7em;
}

.InputField{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 10px;
}

.SendMessage{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s;
}

.SendMessage:hover{
    background-color: #000000;
    color: white;
}

.SecondPicture{
    width: 100%;
    height: 100%;
    background-image: url('images/HomeSecondPicture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.9;
    font-size: 3.2em;
    color: white;
    font-weight: bold;
    padding-bottom: 200px;
    margin-bottom: 100px;
}

.termsAndConditions{
    font-size: 0.7em;
}

.SuccessMessage{
    color: green;
    font-size: 1.1em;
    display: block;
    align-items: center;
    justify-self: center;
    position: relative;
    bottom:100px;
}

.ErrorMessage{
    color: red;
    font-size: 1.1em;
    display: block;
    align-items: center;
    justify-self: center;
    position: relative;
    bottom:100px;
}