.container{
    margin-top:150px;
}

.input-Username{
    margin-left:40%;
    margin-top:100px;
}

.OldUs{
    margin-top:100px;
}

.SubmutButton{
    margin-left:47%;
    margin-top:70px;
}

input{
    border-radius: 10px;
    width:200px;
    height: 30px;
    font-size: 0.9em;
    border:1px solid black;
    padding-left:10px;
}

.ErrorBlock{
    margin-left:40%;
    margin-top:10px;
    color:red;
}

.SuccessBlock{
    margin-left:42%;
    margin-top:10px;
    color:green;
}

.Footer{
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}

.FooterText{
    color: white;
    background-color: #282828;
    font-size: 0.7em;
}