.container{
    margin-top:100px;
}

.input-group{
    margin-left:41%;
    margin-top:30px;
}

.OldPass{
    margin-top:100px;
}

.SubmutButton{
    margin-left:47%;
}

input{
    border-radius: 10px;
    width:200px;
    height: 30px;
    font-size: 0.9em;
    border:1px solid black;
    padding-right:10px;
}

.SuccessBlock{
    margin-left: 41%;
    margin-top: 30px;
    color: green;
}

.ErrorBlock{
    margin-left: 41%;
    margin-top: 30px;
    color: red;
}

.Footer{
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top:auto;
}

.FooterText{
    color: white;
    background-color: #282828;
    font-size: 0.7em;
}