*{
    margin:0;
    padding:0;
    background-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
}

.header{
    padding: 1 0;
    text-align: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}

button{
    margin-right: -5px;
    width: 10%;
    height: 44px;
    border:0;
    background-color: white;
    transition: all 0.1s; 
    cursor:pointer;
    margin-bottom: 5px;
}

.Log{
    display: inline-block;
    position: absolute;
    right: 20px;
    width: 5%;
}

.Reg{
    display: inline-block;
    position: absolute;
    right: 115px;
    width: 5%;
} 

button:hover{
    border-bottom:1px solid black;
}

button:active{
    background-color: #000000;
    color: white;
}

.logo{
    cursor: pointer;
}

i{
    margin-right:10px;
}

.Cart{
    position: absolute;
    right:225px;
    width: 100px;
}

.usericon{
    position: absolute;
    right:130px;
    top:10px;
    font-size: 1.2em;
    color: #000;
    cursor: pointer;
}

.logoff{
    position: absolute;
    right:10px;
    width: 100px;
    top:-0px;
}

