.YouNeedToSignText{
    top:200px;
    position: relative;
}
.LoginButton{
    margin-left:39.5%;
}

.Button{
    display: inline-block;
    position: relative;
    margin-top: 20%;
}


.usersDataBlock{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 43%;
    text-align: center;
    top: 20%;
    color: black;
    font-size: 1.7em;
    padding-top: 7%;
}

.Footer{
    background-color: #282828;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.FooterText{
    color: white;
    background-color: #282828;
    font-size: 0.7em;
}